<h1></h1>
<h2 class="page-header">Tickets</h2>
<body>
   <p></p>
   <p id="data"></p>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   {{#if apps}}
   <div class="table-responsive">
      <table  class="table">
         <tbody>
            <tr>
               <th style="width: 30%;">
                  <font size=4> <b>Ride</b> </font>
               </th>
               <th style="width: 30%;">
                  <font size=4> <b>Price</b> </font>
               </th>
               <th style="width: 30%;">
                  <font size=4> <b>Account</b> </font>
               </th>
               <th style="width: 30%;">
                  <font size=4> <b>#</b> </font>
               </th>
            </tr>
            {{#each apps}}
            <tr>
               <td>
                  <b>{{this.ride}}</b>
               </td>
               <td>
                  <b>{{this.price}}</b>
               </td>
               <td>
                  <b>{{this.account}}</b> 
               </td>
               </p>
               </td>
               <td >
                  <div class="btn-group">
                     <a class="input-group-addon"  href="/Edit/{{this.ride}}">
                     <i type="button" class="fa fa-pencil-square-o fa-2x" aria-hidden="true" id="build" title="Build"></i>
                     </a>
                  </div>
               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
   {{/if}}
</body>